# Dependencies
node_modules
.pnpm-store

# Build output
dist
dist-ssr

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / Environment
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.local
.env.*.local
